<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://amalieiev.github.io/asic/static/asic-logo.png" type="image/x-icon">
    <title>Asic | Javascript Framework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Progressive javascript web framework without jQuery.">
    <meta name="og:title" content="Asic | Javascript Framework">
    <meta name="og:site_name" content="Asic | Javascript Framework">
    <meta name="og:url" content="https://amalieiev.github.io/asic">
    <meta name="og:description" content="Progressive javascript web framework without jQuery.">
    <meta name="og:image" content="https://amalieiev.github.io/asic/static/asic-logo.png">
    <meta name="twitter:image" content="https://amalieiev.github.io/asic/static/asic-logo.png">
    <meta name="twitter:title" content="Asic | Javascript Framework">
    <meta name="twitter:description" content="Progressive javascript web framework without jQuery.">

    <!--highlight.js-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

<%

const Basics = [
    {
        name: 'SimpleText',
        title: 'Data Biding',
        description: `
            Data binding in Asic is the synchronization between the model and the view.`
    },
    {
        name: 'ComplexComponent',
        title: 'Composition',
        description: `
            This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your
            page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After
            your page is generated, you can check out the new branch:`
    },
    {
        name: 'Events',
        title: 'Events',
        description: `
            You can add mouse events on any HTML element.`
    },
    {
        name: 'Loops',
        title: 'Loops',
        description: `
            The <strong>*for</strong> directive repeats an HTML element`
    }
];

const Samples = [
    {
        name: 'Timer',
        title: 'Timer',
        description: `
            Javascript <strong>setInterval</strong> and <strong>setTimeout</strong> works fine.`
    },
    {
        name: 'InnerLoops',
        title: 'Inner Loops',
        description: ``
    }
];
%>

<Header></Header>

<section class="main-content">
    <h2>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Basics</h2>

<% Basics.forEach(function(sample){ %>

    <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a><%- sample.title %></h3>

    <p><%= sample.description %></p>

<%= require(`!!raw-loader!../samples/${sample.name}.html`) %>
<pre><code class="html">
<%- require(`!!raw-loader!../samples/${sample.name}.html`) %>
</code></pre>
<pre><code class="javascript">
<%- require(`!!raw-loader!../samples/${sample.name}.js`) %>
</code></pre>
<% }); %>

    <h2>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Samples</h2>

<% Samples.forEach(function(sample){ %>

    <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a><%- sample.title %></h3>

    <p><%= sample.description %></p>

<%= require(`!!raw-loader!../samples/${sample.name}.html`) %>
<pre><code class="html">
<%- require(`!!raw-loader!../samples/${sample.name}.html`) %>
</code></pre>
<pre><code class="javascript">
<%- require(`!!raw-loader!../samples/${sample.name}.js`) %>
</code></pre>
<% }); %>

<Footer></Footer>

</section>

</body>
</html>