<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asic</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

<%= require('!!raw-loader!../samples/Timer.html') %>
<pre><code class="html">
<%- require('!!raw-loader!../samples/Timer.html') %>
</code></pre>
<pre><code class="javascript">
<%- require('!!raw-loader!../samples/Timer.js') %>
</code></pre>

<%= require('!!raw-loader!../samples/Events.html') %>
<pre><code class="html">
<%- require('!!raw-loader!../samples/Events.html') %>
</code></pre>
<pre><code class="javascript">
<%- require('!!raw-loader!../samples/Events.js') %>
</code></pre>

<%= require('!!raw-loader!../samples/Interpolation.html') %>
<pre><code class="html">
<%- require('!!raw-loader!../samples/Interpolation.html') %>
</code></pre>
<pre><code class="javascript">
<%- require('!!raw-loader!../samples/Interpolation.js') %>
</code></pre>

<%= require('!!raw-loader!../samples/Loops.html') %>
<pre><code class="html">
<%- require('!!raw-loader!../samples/Loops.html') %>
</code></pre>
<pre><code class="javascript">
<%- require('!!raw-loader!../samples/Loops.js') %>
</code></pre>

<%= require('!!raw-loader!../samples/SimpleText.html') %>
<pre><code class="html">
<%- require('!!raw-loader!../samples/SimpleText.html') %>
</code></pre>
<pre><code class="javascript">
<%- require('!!raw-loader!../samples/SimpleText.js') %>
</code></pre>

</body>
</html>