<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://amalieiev.github.io/asic/static/asic-logo.png" type="image/x-icon">
    <title>Asic | Javascript Framework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Progressive javascript web framework without jQuery.">
    <meta name="og:title" content="Asic | Javascript Framework">
    <meta name="og:site_name" content="Asic | Javascript Framework">
    <meta name="og:url" content="https://amalieiev.github.io/asic">
    <meta name="og:description" content="Progressive javascript web framework without jQuery.">
    <meta name="og:image" content="https://amalieiev.github.io/asic/static/asic-logo.png">
    <meta name="twitter:image" content="https://amalieiev.github.io/asic/static/asic-logo.png">
    <meta name="twitter:title" content="Asic | Javascript Framework">
    <meta name="twitter:description" content="Progressive javascript web framework without jQuery.">

    <!--highlight.js-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

<%

const Basics = [
    {
        name: 'SimpleText',
        title: 'Data Biding',
        description: `
            Data binding in Asic is the synchronization between the model and the view.`
    },
    {
        name: 'ComplexComponent',
        title: 'Composition',
        description: `
            This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your
            page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After
            your page is generated, you can check out the new branch:`
    },
    {
        name: 'Events',
        title: 'Events',
        description: `
            You can add mouse events on any HTML element.`
    },
    {
        name: 'Loops',
        title: 'Loops',
        description: `
            The <strong>*for</strong> directive repeats an HTML element`
    }
];

const Samples = [
    {
        name: 'Timer',
        title: 'Timer',
        description: `
            Javascript <strong>setInterval</strong> and <strong>setTimeout</strong> works fine.`
    },
    {
        name: 'InnerLoops',
        title: 'Inner Loops',
        description: `
            This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your
            page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After
            your page is generated, you can check out the new branch:`
    }
];
%>

<section class="page-header">
    <h1 class="project-name">Asic</h1>

    <h2 class="project-tagline">Progressive JavaScript Framework</h2>
    <a href="https://github.com/amalieiev/flexbox-layout" class="btn">View on GitHub</a>
    <a href="https://jsfiddle.net/amalieiev/171kzqL6/" class="btn">Try on JSFiddle</a>
    <a href="https://github.com/amalieiev/asic/zipball/master" class="btn">Download .zip</a>
</section>

<section class="main-content">
    <h2>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Basics</h2>

<% Basics.forEach(function(sample){ %>

    <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a><%- sample.title %></h3>

    <p><%= sample.description %></p>

<%= require(`!!raw-loader!../samples/${sample.name}.html`) %>
<pre><code class="html">
<%- require(`!!raw-loader!../samples/${sample.name}.html`) %>
</code></pre>
<pre><code class="javascript">
<%- require(`!!raw-loader!../samples/${sample.name}.js`) %>
</code></pre>
<% }); %>

    <h2>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Samples</h2>

<% Samples.forEach(function(sample){ %>

    <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a><%- sample.title %></h3>

    <p><%= sample.description %></p>

<%= require(`!!raw-loader!../samples/${sample.name}.html`) %>
<pre><code class="html">
<%- require(`!!raw-loader!../samples/${sample.name}.html`) %>
</code></pre>
<pre><code class="javascript">
<%- require(`!!raw-loader!../samples/${sample.name}.js`) %>
</code></pre>
<% }); %>

    <h3>
        <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Authors and Contributors</h3>

    <p>You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a
        link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub
        Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>),
        PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a
                href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

    <h3>
        <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Support or Contact</h3>

    <p>Having trouble with Pages? Check out the documentation at <a href="https://help.github.com/pages">https://help.github.com/pages</a>
        or contact <a href="mailto:support@github.com">support@github.com</a> and we’ll help you sort it out.</p>

    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/amalieiev/asic">Asic</a> is maintained by <a
                    href="https://github.com/amalieiev">amalieiev</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a
                    href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a
                    href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer>

</section>

</body>
</html>